<nb-card>
  <nb-card-header>
    Nuevo Insumo
  </nb-card-header>

  <nb-card-body>
    <nb-card>
      <nb-card-body>
        <div class="form-group row align-items-center">
          <label class="col-md-2 col-sm-3">Nombre</label>
          <div class="input-group col-md-10 col-sm-9">
            <input type="text" placeholder="Nombre" class="form-control"/>
          </div>
        </div>
        <div class="form-group row align-items-center">
          <label class="col-md-2 col-sm-3">Clasificación</label>
          <div class="col-md-10 col-sm-9">
            <select class="form-control">
              <option [value]="null">Seleccione clasificación</option>
              <option
                *ngFor="let classification of supplyClassifications$ | async"
                [value]="classification.id_supply_classification"
              >
                {{classification.description}}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group row align-items-center">
          <label class="col-md-2 col-sm-3">Tipo</label>
          <div class="col-md-10 col-sm-9">
            <select class="form-control">
              <option [value]="null">Seleccione tipo</option>
              <option
                *ngFor="let type of supplyTypes$ | async"
                [value]="type.id_supply_type"
              >
                {{type.description}}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group row align-items-center">
          <label class="col-md-2 col-sm-3">Tipo Reporte</label>
          <div class="col-md-10 col-sm-9">
            <select class="form-control">
              <option [value]="null">Seleccione tipo Reporte</option>
              <option
                *ngFor="let type of supplyReportTypes$ | async"
                [value]="type.id_supply_report_type"
              >
                {{type.description}}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group row align-items-center">
          <label class="col-md-2 col-sm-3">Unidad</label>
          <div class="col-md-10 col-sm-9">
            <select class="form-control">
              <option [value]="null">Seleccione unidad</option>
              <option
                *ngFor="let unit of units$ | async"
                [value]="unit.id_unit"
              >
                {{unit.description}}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group row align-items-center">
          <label class="col-md-2 col-sm-3">Proveedor</label>
          <div class="col-md-10 col-sm-9">
            <select class="form-control">
              <option [value]="null">Seleccione proveedor</option>
              <option
                *ngFor="let supplier of suppliers$ | async"
                [value]="supplier.id_supplier"
              >
                {{supplier.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group row align-items-center">
          <label class="col-md-2 col-sm-3">Precio Neto</label>
          <div class="input-group col-md-10 col-sm-9">
            <input type="number" placeholder="Precio Neto" class="form-control"/>
          </div>
        </div>
        <div class="form-group row align-items-center">
          <label class="col-md-2 col-sm-3">Stock Minimo</label>
          <div class="input-group col-md-10 col-sm-9">
            <input type="number" placeholder="Stock Minimo" class="form-control"/>
          </div>
        </div>
        <div class="form-group row align-items-center">
          <label class="col-md-2 col-sm-3">Porcentaje de merma</label>
          <div class="input-group col-md-10 col-sm-9">
            <input type="number" placeholder="Porcentaje de merma" class="form-control"/>
          </div>
        </div>
        <div class="form-group row align-items-center">
          <label class="col-md-2 col-sm-3">Inventario diario</label>
          <div class="input-group col-md-10 col-sm-9">
            <label class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" name="dailyInventory" checked>
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">No</span>
            </label>
            <label class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" name="dailyInventory">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Si</span>
            </label>
          </div>
        </div>
        <div class="form-group row align-items-center">
          <label class="col-md-2 col-sm-3">Proceso</label>
          <div class="input-group col-md-10 col-sm-9">
            <label class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" name="isProcess" checked>
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">No</span>
            </label>
            <label class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" name="isProcess">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Si</span>
            </label>
          </div>
        </div>


      </nb-card-body>
    </nb-card>

  </nb-card-body>
</nb-card>
