<form (submit)="onSubmit()">
  <nb-card>
    <nb-card-header>
      Nuevo Insumo
    </nb-card-header>
    <nb-card-body>
      <nb-card>
        <nb-card-body>
          <div class="form-group row align-items-center">
            <label class="col-md-2 col-sm-3">Nombre</label>
            <div class="input-group col-md-10 col-sm-9">
              <input type="text" [(ngModel)]="data.name" name="name" placeholder="Nombre" class="form-control"
                     required/>
            </div>
          </div>
          <div class="form-group row align-items-center">
            <label class="col-md-2 col-sm-3">Clasificación</label>
            <div class="col-md-10 col-sm-9">
              <select name="classification" class="form-control" [(ngModel)]="data.classification" required>
                <option [value]="null">Seleccione clasificación</option>
                <option
                  *ngFor="let classification of classifications"
                  [value]="classification"
                >
                  {{classification}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row align-items-center">
            <label class="col-md-2 col-sm-3">Tipo</label>
            <div class="col-md-10 col-sm-9">
              <select
                name="supplytype"
                class="form-control"
                [(ngModel)]="data.type"
                required
              >
                <option [value]="null">Seleccione tipo</option>
                <option
                  *ngFor="let type of types"
                  [value]="type"
                >
                  {{type}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row align-items-center">
            <label class="col-md-2 col-sm-3">Tipo Reporte</label>
            <div class="col-md-10 col-sm-9">
              <select
                name="reportType"
                class="form-control"
                [(ngModel)]="data.report_type"
                required
              >
                <option [value]="null">Seleccione tipo Reporte</option>
                <option
                  *ngFor="let type of reportTypes"
                  [value]="type.value"
                >
                  {{type.name}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row align-items-center">
            <label class="col-md-2 col-sm-3">Unidad</label>
            <div class="col-md-10 col-sm-9">
              <select
                name="unitType"
                class="form-control"
                [(ngModel)]="data.unit"
                required
              >
                <option [value]="null">Seleccione unidad</option>
                <option
                  *ngFor="let unit of units"
                  [value]="unit"
                >
                  {{unit}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row align-items-center">
            <label class="col-md-2 col-sm-3">Proveedor</label>
            <div class="col-md-10 col-sm-9">
              <select
                name="supplier"
                class="form-control"
                [(ngModel)]="data.supplier_id"
                required
              >
                <option [value]="null">Seleccione proveedor</option>
                <option
                  *ngFor="let supplier of suppliers$ | async"
                  [value]="supplier.id"
                >
                  {{supplier.name}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row align-items-center">
            <label class="col-md-2 col-sm-3">Precio Neto</label>
            <div class="input-group col-md-10 col-sm-9">
              <input [(ngModel)]="data.price" required name="price" type="number" placeholder="Precio Neto"
                     class="form-control"/>
            </div>
          </div>
          <div class="form-group row align-items-center">
            <label class="col-md-2 col-sm-3">Stock Minimo</label>
            <div class="input-group col-md-10 col-sm-9">
              <input [(ngModel)]="data.stock_min" required name="minStock" type="number" placeholder="Stock Minimo"
                     class="form-control"/>
            </div>
          </div>
          <div class="form-group row align-items-center">
            <label class="col-md-2 col-sm-3">Porcentaje de merma</label>
            <div class="input-group col-md-10 col-sm-9">
              <input [(ngModel)]="data.wastage_rate" required name="wastage" type="number"
                     placeholder="Porcentaje de merma"
                     class="form-control"/>
            </div>
          </div>
          <div class="form-group row align-items-center">
            <label class="col-md-2 col-sm-3">Inventario diario</label>
            <div class="input-group col-md-10 col-sm-9">
              <label class="custom-control custom-radio">
                <input [(ngModel)]="data.show_in_daily_inventory" value="0" type="radio" class="custom-control-input"
                       name="dailyInventory" checked>
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">No</span>
              </label>
              <label class="custom-control custom-radio">
                <input [(ngModel)]="data.show_in_daily_inventory" value="1" type="radio" class="custom-control-input"
                       name="dailyInventory">
                <span class="custom-control-indicator"></span>
                <span   class="custom-control-description">Si</span>
              </label>
            </div>
          </div>
          <div class="form-group row align-items-center">
            <label class="col-md-2 col-sm-3">Proceso</label>
            <div class="input-group col-md-10 col-sm-9">
              <label class="custom-control custom-radio">
                <input [(ngModel)]="data.show_in_process" value="0" type="radio" class="custom-control-input"
                       name="processed" checked>
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">No</span>
              </label>
              <label class="custom-control custom-radio">
                <input [(ngModel)]="data.show_in_process" value="1" type="radio" class="custom-control-input"
                       name="processed">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Si</span>
              </label>
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer>
          <button type="submit" [disabled]="!hasPermission('AINS') && !hasPermission('EINS')" class="btn btn-primary">Guardar</button>
          <button type="reset" class="btn btn-secondary" (click)="cancel()">Cancelar</button>
        </nb-card-footer>
      </nb-card>
    </nb-card-body>
  </nb-card>
</form>
