nb-card {
  transform: translate3d(0, 0, 0);
}
nb-card-body {
  min-height: 300px;
}
.ng2-smart-actions {
  display: flex;
  height: 60px !important;
}
ng2-st-tbody-custom {
  display: flex;
}
