<div class="row">
  <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-md-6">
    <nb-card style="padding: 1rem;">
      <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">
        <div class="row">
          <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-md-6">
            <select
              class="form-control"
              (change)="onChangeMonthlyDate()"
              [(ngModel)]="dateMonthlySale.month"
            >
              <option *ngFor="let month of months" [value]="month.value">{{
                month.label
              }}</option>
            </select>
          </div>
          <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-md-6">
            <select
              class="form-control"
              (change)="onChangeMonthlyDate()"
              [(ngModel)]="dateMonthlySale.year"
            >
              <option *ngFor="let year of years">{{ year.label }}</option>
            </select>
          </div>
        </div>
        <ngx-chart
          [series]="monthlyChart.series"
          [labels]="monthlyChart.labels"
          title="Ventas por mes"
          *ngIf="monthlyChart.series.length > 0"
        ></ngx-chart>
        <div
          *ngIf="monthlyChart.series.length === 0"
          style="text-align: center; margin-top:1rem"
        >
          No hay informacion de ventas
        </div>
      </div>
    </nb-card>
  </div>

  <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-md-6">
    <nb-card style="padding: 1rem;">
      <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">
        <div class="row">
          <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-md-6">
            <select
              class="form-control"
              (change)="onChangeYearlyDate()"
              [(ngModel)]="dateYearlySale.year"
            >
              <option *ngFor="let year of years">{{ year.label }}</option>
            </select>
          </div>
        </div>
        <ngx-chart
          [series]="yearlyChart.series"
          [labels]="yearlyChart.labels"
          title="Ventas por mes"
          *ngIf="yearlyChart.series.length > 0"
        ></ngx-chart>
        <div
          *ngIf="yearlyChart.series.length === 0"
          style="text-align: center; margin-top:1rem"
        >
          No hay informacion de ventas
        </div>
      </div>
    </nb-card>
  </div>
</div>
