<div class="row">
  <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-md-6">
    <nb-card style="padding: 1rem;">
      <nb-card-header>
        <span>Ventas por mes</span>
        <div class="date-container">
          <div class="ghost-dropdown" ngbDropdown>
            <button
              type="button"
              class="btn btn-sm btn-primary"
              ngbDropdownToggle
            >
              {{ dateMonthlySale.month.label }}
            </button>
            <ul class="dropdown-menu">
              <li
                class="dropdown-item"
                *ngFor="let month of months"
                (click)="onChangeMonthlyDate(month, 'month')"
              >
                {{ month.label }}
              </li>
            </ul>
          </div>
          <div class="ghost-dropdown" ngbDropdown>
            <button
              type="button"
              class="btn btn-sm btn-primary"
              ngbDropdownToggle
            >
              {{ dateMonthlySale.year.label }}
            </button>
            <ul class="dropdown-menu">
              <li
                class="dropdown-item"
                *ngFor="let year of years"
                (click)="onChangeMonthlyDate(year, 'year')"
              >
                {{ year.label }}
              </li>
            </ul>
          </div>
        </div>
      </nb-card-header>

      <nb-card-body class="p-0">
        <ngx-chart
          [series]="monthlyChart.series"
          [labels]="monthlyChart.labels"
          title="Ventas por mes"
          *ngIf="monthlyChart.series.length > 0"
        ></ngx-chart>
        <div
          *ngIf="monthlyChart.series.length === 0"
          style="text-align: center; margin-top:1rem"
        >
          No hay informacion de ventas
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-xxxl-6 col-xxl-6 col-lg-6 col-md-6">
    <nb-card style="padding: 1rem;">
      <nb-card-header>
        <span>Ventas por ano</span>

        <div class="ghost-dropdown" ngbDropdown>
          <button
            type="button"
            class="btn btn-sm btn-primary"
            ngbDropdownToggle
          >
            {{ dateYearlySale.year.label }}
          </button>
          <ul class="dropdown-menu">
            <li
              class="dropdown-item"
              *ngFor="let year of years"
              (click)="onChangeYearlyDate(year)"
            >
              {{ year.label }}
            </li>
          </ul>
        </div>
      </nb-card-header>

      <nb-card-body class="p-0">
        <ngx-chart
          [series]="yearlyChart.series"
          [labels]="yearlyChart.labels"
          title="Ventas por mes"
          *ngIf="yearlyChart.series.length > 0"
        ></ngx-chart>
        <div
          *ngIf="yearlyChart.series.length === 0"
          style="text-align: center; margin-top:1rem"
        >
          No hay informacion de ventas
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
