<form (submit)="onSubmit()">
  <nb-card>
    <nb-card-header>
      <span>{{id ? 'Editar' : 'Nuevo'}} inventario diario</span>
      <button class="btn btn-icon btn-outline-success pull-right" type="button" (click)="getDailyInventoryReport()" *ngIf="id">
        <i class="fa fa-file-excel-o"></i>
      </button>
    </nb-card-header>
    <nb-card-body>
      <div class="row align-items-baseline">
        <div class="col-sm-7 row align-items-center">
          <div class="col-md-2 col-sm-3">
            <label class="">Fecha</label>
          </div>
          <div class="col-md-10 col-sm-9 input-group">
            <input ngx-mydatepicker class="form-control" style="float:none" placeholder="Select a date" name="mydate" [(ngModel)]="date" [options]="options" #dp="ngx-mydatepicker" required />
            <span class="input-group-append">
              <button type="button" class="btn btn-primary" (click)="dp.clearDate()">
                <i class="fa fa-times"></i>
              </button>
              <button type="button" class="btn btn-primary" (click)="dp.toggleCalendar()">
                  <i class="fa fa-calendar"></i>
              </button>
            </span>
          </div>
        </div>
        <div class="form-group col-sm-5 row align-items-center">
        <label class="col-md-2 col-sm-3">Tienda</label>
        <div class="col-md-10 col-sm-9">
          <select
            name="store"
            class="form-control"
            [(ngModel)]="storeId"
            required
            (ngModelChange)="onChangeStore()"
          >
            <option [value]="''">Seleccione Tienda...</option>
            <option
              *ngFor="let s of stores"
              [value]="s.id"
            >
              {{s.name}}
            </option>
          </select>
        </div>
      </div>
      </div>
      <div class="form-group">
        <div class="row justify-content-between">
          <h4 class="col-md-6 col-sm-6">Insumos</h4>
        </div>
        <div class="row">
          <table class="table">
            <thead>
            <tr>
              <th>Insumo</th>
              <th>Cantidad Inicial</th>
              <th>Cantidad Final</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let _ of supplies; let i = index">
              <td>
                {{supplies[i].name}}
              </td>
              <td>
                <input name="quantity{{i}}" required [(ngModel)]="supplies[i].initial_quantity" type="number" placeholder="Cantidad" class="form-control"/>
              </td>
              <td>
                <input name="final_quantity{{i}}" required [(ngModel)]="supplies[i].final_quantity" type="number" placeholder="Cantidad" class="form-control"/>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button type="submit" class="btn btn-primary">Guardar</button>
      <button class="btn btn-secondary" (click)="cancel()">Cancelar</button>
    </nb-card-footer>
  </nb-card>
</form>
