<form (submit)="onSubmit()">
  <nb-card>
    <nb-card-header>
      {{id ? 'Editar' : 'Nueva'}} Receta
    </nb-card-header>
    <nb-card-body>
      <nb-card>
        <nb-card-body>
          <div class="form-group row align-items-center">
            <label class="col-md-2 col-sm-3">Nombre</label>
            <div class="input-group col-md-10 col-sm-9">
              <input type="text" [(ngModel)]="data.name" name="name" placeholder="Nombre" class="form-control" required />
            </div>
          </div>
          <div class="form-group row align-items-center">
            <label class="col-md-2 col-sm-3">Clasificación</label>
            <div class="input-group col-md-10 col-sm-9">
              <input type="text" [(ngModel)]="data.classification" name="classification" placeholder="Clasificación" class="form-control" required />
            </div>
          </div>
          <div class="form-group">
            <div class="row justify-content-between">
              <h4 class="col-md-6 col-sm-6">Insumos</h4>
              <div class="col-md-6 col-sm-6 row justify-content-end">
                <button class="btn btn-primary" type="button" (click)="addSupply($event)">Agregar</button>
              </div>
            </div>
            <div class="row">
              <table class="table">
                <thead>
                <tr>
                  <th>Insumo</th>
                  <th>Cantidad</th>
                  <th>Costo</th>
                  <th>Borrar</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let _ of data.supplies; let i = index">
                  <td>
                    <select
                      name="supply{{i}}"
                      class="form-control"
                      [(ngModel)]="data.supplies[i].supply_id"
                      (ngModelChange)="onChangeSupply($event, i)"
                      required
                    >
                      <option *ngIf="!!data.supplies[i].supply" [value]="data.supplies[i].supply_id">{{data.supplies[i].supply.name}}</option>
                      <option selected *ngIf="!data.supplies[i].supply" [value]="''">Seleccione Insumo</option>

                      <ng-container *ngFor="let s of supplies; let sIndex = index">
                        <option
                          [value]="s.id"
                          *ngIf="!supplyMap[s.id]"
                        >
                          {{s.name}}
                        </option>
                      </ng-container>
                    </select>
                  </td>
                  <td>
                    <input name="quantity{{i}}" (change)="recalculateCost(i)" required [(ngModel)]="data.supplies[i].quantity" type="number" placeholder="Cantidad" class="form-control"/>
                  </td>
                  <td>
                    <!-- <input name="cost{{i}}" disabled [value]="data.supplies[i].cost" type="number" class="form-control"/> -->
                    {{data.supplies[i].cost}}
                  </td>
                  <td>
                    <button class="btn btn-secondary" (click)="removeSupply(i)">Borrar</button>
                  </td>
                </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td>
                      Total
                    </td>
                    <td></td>
                    <td>
                      {{totalCost}}
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer>
          <button type="submit" class="btn btn-primary">Guardar</button>
          <button class="btn btn-secondary" (click)="cancel($event)">Cancelar</button>
        </nb-card-footer>
      </nb-card>
    </nb-card-body>
  </nb-card>
</form>
