<nb-card>
  <nb-card-header>
    <span>Ingreso Venta Diaria</span>

    <!-- <button class="btn btn-icon btn-outline-success pull-right">
      <i class="fa fa-file-excel-o"></i>
    </button> -->

    <button class="btn btn-icon btn-outline-success pull-right pdf-report" (click)="getReportPDF()">
      <i class="fa fa-file-pdf-o"></i>
    </button>

  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="form-group">
          <label class="">Mes</label>
          <select
            class="form-control"
            id="inputGroupSelect02"
            (change)="updateDate()"
            [(ngModel)]="month"
          >
            <option value="01">Enero</option>
            <option value="02">Febrero</option>
            <option value="03">Marzo</option>
            <option value="04">Abril</option>
            <option value="05">Mayo</option>
            <option value="06">Junio</option>
            <option value="07">Julio</option>
            <option value="08">Agosto</option>
            <option value="09">Septiembre</option>
            <option value="10">Octubre</option>
            <option value="11">Noviembre</option>
            <option value="12">Diciembre</option>
          </select>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="form-group">
          <label class="">Año</label>
          <select
            class="form-control"
            id="inputGroupSelect03"
            (change)="updateDate()"
            [(ngModel)]="year"
          >
            <option *ngFor="let y of years" value="{{y}}">{{ y }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-9">
        <ng2-smart-table
          [settings]="settings"
          [source]="source"
          (editConfirm)="rowUpdated($event)"
        ></ng2-smart-table>
      </div>
      <div #monthContainer class="col-sm-12 col-md-4 col-lg-3 week-days">
        <ng2-smart-table
          [settings]="settings2"
          [source]="source2"
          (userRowSelect)="userRowSelect($event)"
        ></ng2-smart-table>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="col-sm-8">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td width="45%">DIFERENCIA DE CAJA</td>
            <td class="bg-info">${{ numberWithCommas(totals.difference.shift1) }}</td>
            <td class="bg-info">${{ numberWithCommas(totals.difference.shift2) }}</td>
            <td class="bg-info">${{ numberWithCommas(totals.difference.total) }}</td>
          </tr>
          <tr>
            <td width="45%">TOTAL VENTA NETA</td>
            <td class="bg-info">-</td>
            <td class="bg-info">-</td>
            <td class="bg-info">${{ numberWithCommas(totals.net.total) }}</td>
          </tr>
          <tr>
            <td width="45%">TOTAL EXCLUYENDO MULTICAJA</td>
            <td class="bg-info">-</td>
            <td class="bg-info">-</td>
            <td class="bg-info">${{ numberWithCommas(totals.noJunaeb.total) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </nb-card-footer>
</nb-card>
