<nb-card>
  <nb-card-header>
    Ingreso de Cheques
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="form-group">
          <label class="">Mes</label>
          <select class="form-control" id="inputGroupSelect02">
            <option value="Enero">Enero</option>
            <option value="Febrero">Febrero</option>
            <option value="Marzo">Marzo</option>
            <option value="Abril">Abril</option>
            <option value="Mayo" selected>Mayo</option>
            <option value="Junio" >Junio</option>
            <option value="Julio" selected>Julio</option>
            <option value="Agosto">Agosto</option>
            <option value="Septiembre">Septiembre</option>
            <option value="Octubre">Octubre</option>
            <option value="Noviembre">Noviembre</option>
            <option value="Diciembre">Diciembre</option>
          </select>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="form-group">
          <label class="">Año</label>
          <select class="form-control" id="inputGroupSelect03">
            <option value="2018" selected>2018</option>
            <option value="2017">2017</option>
            <option value="2016">2016</option>
            <option value="2015">2015</option>
            <option value="2014">2014</option>
            <option value="2013">2013</option>
            <option value="2012">2012</option>
            <option value="2011">2011</option>
            <option value="2010">2010</option>
          </select>
        </div>
      </div>
      <div style="padding-top: 30px; margin-left: auto;">
        <button class="btn btn-icon btn-primary">
          <i class="fa fa-file-pdf-o"></i>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-9">
        <table>
          <thead>
          <tr>
            <th>

            </th>
            <th>
              Turno 1 (Mañana)
            </th>
            <th>
              Turno 2 (Tarde)
            </th>
            <th>
              Total
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Informe I.Fiscal</td>
            <td>$0</td>
            <td>$0</td>
            <td>$0</td>
          </tr>
          <tr>
            <td>Efectivo</td>
            <td>$0</td>
            <td>$0</td>
            <td>$0</td>
          </tr>
          <tr>
            <td>Total Transbank Crédito</td>
            <td>$0</td>
            <td>$0</td>
            <td>$0</td>
          </tr>
          <tr>
            <td>Total Transbank Débito</td>
            <td>$0</td>
            <td>$0</td>
            <td>$0</td>
          </tr>
          <tr>
            <td>Sodexho</td>
            <td>$0</td>
            <td>$0</td>
            <td>$0</td>
          </tr>
          <tr>
            <td>Edenred</td>
            <td>$0</td>
            <td>$0</td>
            <td>$0</td>
          </tr>
          <tr>
            <td>Junaeb edenred</td>
            <td>$0</td>
            <td>$0</td>
            <td>$0</td>
          </tr>

          </tbody>
          <tfoot>
          <tr>
            <td>Total sin Ticket/Junaeb</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td colspan="3">Total sin Ticket/Junaeb</td>
            <td>0</td>
          </tr>
          <tr>
            <td colspan="3">Total Venta Neta</td>
            <td>0</td>
          </tr>
          </tfoot>
        </table>
        <button type="button" class="btn btn-primary">
          Guardar
        </button>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3 week-days">
        <table>
          <thead>
          <tr>
            <th>Día</th>
            <th>Día Semana</th>
            <th>Total</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td>Domingo</td>
            <td>$0</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Lunes</td>
            <td>$0</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Martes</td>
            <td>$0</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Miercoles</td>
            <td>$0</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Jueves</td>
            <td>$0</td>
          </tr>
          <tr>
            <td>6</td>
            <td>Viernes</td>
            <td>$0</td>
          </tr>
          <tr>
            <td>7</td>
            <td>Sabado</td>
            <td>$0</td>
          </tr>
          <tr>
            <td>8</td>
            <td>Domingo</td>
            <td>$0</td>
          </tr>
          <tr>
            <td>9</td>
            <td>Lunes</td>
            <td>$0</td>
          </tr>
          <tr>
            <td>10</td>
            <td>Martes</td>
            <td>$0</td>
          </tr>
          <tr>
            <td>11</td>
            <td>Miercoles</td>
            <td>$0</td>
          </tr>
          <tr>
            <td>12</td>
            <td>Jueves</td>
            <td>$0</td>
          </tr>
          <tr>
            <td>13</td>
            <td>Viernes</td>
            <td>$0</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </nb-card-body>

</nb-card>



