<nb-card>
  <nb-card-header>
    Reporte de gastos generales
  </nb-card-header>

  <nb-card-body>
    <table>
      <thead>
      <tr>
        <th>

        </th>
        <th>
          Abril 2018
        </th>
        <th>
          Mayo 2018
        </th>
        <th>
          Junio al dia
        </th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>Sueldo</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td>Imposiciones</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td>Contador</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td><strong>Total</strong></td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
      </tfoot>
    </table>
    <table>
      <thead>
      <tr>
        <th>

        </th>
        <th>
          Abril 2018
        </th>
        <th>
          Mayo 2018
        </th>
        <th>
          Junio al dia
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Gas</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Luz</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Agua</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Telefono</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td><strong>Total</strong></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      </tfoot>
    </table>
    <table class="total-table">
      <tr>
        <td>
          Gran total
        </td>
        <td>
          0
        </td>
        <td>
          0
        </td>
        <td>
          0
        </td>
      </tr>
    </table>
  </nb-card-body>
</nb-card>
