<nb-card>
  <nb-card-header>Agregar Auditoria</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <label for="typeOfAudits">Tipo de auditoria</label>
        <select id="typeOfAudits" class="form-control" [(ngModel)]="auditTypeId"
                (ngModelChange)="onAuditTypeChange($event)">
          <option [value]="null">Tipo</option>
          <option *ngFor="let type of auditTypes$ | async" [value]="type.id">{{type.name}}</option>
        </select>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <label for="typeOfShifts">Turno</label>
        <select id="typeOfShifts" class="form-control" [(ngModel)]="shiftId">
          <option [value]="null">Turno</option>
          <option *ngFor="let type of shiftTypes$ | async" [value]="type.id">{{type.name}}</option>
        </select>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <label for="stores">Tienda</label>
        <select id="stores" class="form-control" [(ngModel)]="storeId">
          <option [value]="null">Tienda</option>
          <option *ngFor="let store of stores$ | async" [value]="store.id">{{store.name}}</option>
        </select>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <label for="manager">Jefe de turno</label>
        <select id="manager" class="form-control" [(ngModel)]="managerId">
          <option [value]="null">Jefe de</option>
          <option *ngFor="let u of users$ | async" [value]="u.id">{{u.first_name}} {{u.last_name}}</option>
        </select>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-between align-items-center" *ngIf="score != null">
        <div class="col-sm-3">
          <nb-card-header>Total: {{ score | percent }}</nb-card-header>
        </div>
        <div class="col-sm-3">
          <button class="btn btn-primary" (click)="onSave()">Guardar</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <table class="table table-bordered" *ngFor="let section of sections">
          <thead>
          <tr>
            <th colspan="5">{{section.name}}</th>
          </tr>
          <tr>
            <th>REVISION</th>
            <th>PUNTAJE</th>
            <th>CALIFICACION</th>
            <th>OBSERVACION</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let revision of section.revisions">
            <td>{{revision.name}}</td>
            <td>
              <select class="form-control" [(ngModel)]="revision.score"
                      (ngModelChange)="onScoreChange(revision, section)">
                <option [value]="null">Puntaje</option>
                <option [value]="1">1</option>
                <option [value]="2">2</option>
                <option [value]="3">3</option>
              </select>
            </td>
            <td>
                  <span *ngIf="revision.score == 1">
                    No cumple
                  </span>
              <span *ngIf="revision.score == 2">
                    Cumple
                  </span>
              <span *ngIf="revision.score == 3">
                    No Aplica
                  </span>
            </td>
            <td><textarea [(ngModel)]="revision.comment"></textarea></td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td>
              SUB-NOTA
            </td>
            <td colspan="3">
              {{section.percentageScore | percent}}
            </td>
          </tr>
          </tfoot>
        </table>
        <div class="container">
          <div class="row justify-content-between align-items-center" *ngIf="score != null">
            <div class="col-sm-3">
              <nb-card-header>Total: {{ score | percent }}</nb-card-header>
            </div>
            <div class="col-sm-3">
              <button class="btn btn-primary" (click)="onSave()">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
