<nb-card>
  <nb-card-header> Salidas </nb-card-header>

  <nb-card-body>
    <div class="form-group row align-items-center inventories-table">
      <label class="col-md-2 col-sm-3">Desde: </label>
      <div class="input-group col-md-4 col-sm-3">
        <input
          ngx-mydatepicker
          id="date"
          class="form-control"
          style="float:none"
          placeholder="Select a from date"
          name="dateFrom"
          [(ngModel)]="dateFrom"
          [options]="options"
          #from="ngx-mydatepicker"
          (dateChanged)="onChangeFrom($event)"
          required
        />
        <span class="input-group-btn">
          <button
            type="button"
            class="btn btn-primary btn-icon"
            (click)="from.toggleCalendar()"
          >
            <i class="fa fa-calendar"></i>
          </button>
        </span>
      </div>

      <label class="col-md-2 col-sm-3">Hasta: </label>
      <div class="input-group col-md-4 col-sm-3">
        <input
          ngx-mydatepicker
          id="date2"
          class="form-control"
          style="float:none"
          placeholder="Select a to date"
          name="dateTo"
          [(ngModel)]="dateTo"
          [options]="options"
          #to="ngx-mydatepicker"
          (dateChanged)="onChangeTo($event)"
          required
        />
        <span class="input-group-btn">
          <button
            type="button"
            class="btn btn-primary btn-icon"
            (click)="to.toggleCalendar()"
          >
            <i class="fa fa-calendar"></i>
          </button>
        </span>
      </div>
    </div>
    <ng2-smart-table
      [settings]="settings"
      [source]="source"
      (create)="onCreate($event)"
      (delete)="onDelete($event)"
      (edit)="onEdit($event)"
    >
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
