<form (submit)="onSubmit()">
  <nb-card>
    <nb-card-header> Inventario Diario </nb-card-header>
    <nb-card-body>
      <div class="row align-items-baseline">
        <div class="col-sm-7 row align-items-center">
          <div class="col-md-2 col-sm-3"><label class="">Fecha</label></div>
          <div class="col-md-10 col-sm-9 input-group">
            <input
              ngx-mydatepicker
              class="form-control"
              style="float:none"
              placeholder="Select a date"
              name="mydate"
              [(ngModel)]="date"
              [options]="options"
              #dp="ngx-mydatepicker"
              required
            />
            <span class="input-group-append">
              <button
                type="button"
                class="btn btn-primary"
                (click)="dp.clearDate()"
              >
                <i class="fa fa-times"></i>
              </button>
              <button
                type="button"
                class="btn btn-primary"
                (click)="dp.toggleCalendar()"
              >
                <i class="fa fa-calendar"></i>
              </button>
            </span>
          </div>
        </div>
        <div class="form-group col-sm-5 row align-items-center">
          <label class="col-md-2 col-sm-3">Tienda</label>
          <div class="col-md-10 col-sm-9">
            <select
              name="store"
              class="form-control"
              [(ngModel)]="storeId"
              required
            >
              <option *ngIf="!storeId" [value]="''"
                >Seleccione Tienda...</option
              >
              <option *ngFor="let s of stores" [value]="s.id">
                {{ s.name }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row align-items-baseline">
        <div class="form-group col-sm-7 row align-items-center">
          <label class="col-sm-2">Tipo de Salida</label>
          <div class="col-sm-9">
            <select
              name="type"
              class="form-control"
              [(ngModel)]="data.type"
              required
            >
              <option *ngIf="!data.type" [value]="''">
                Seleccione tipo de salida...
              </option>
              <option *ngFor="let s of types" [value]="s"> {{ s }} </option>
            </select>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-body>
      <nb-tabset>
        <nb-tab tabTitle="Insumos">
          <table>
            <thead>
              <tr>
                <th>Insumo</th>
                <th>Cantidad</th>
                <th>Razón</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let supply of data.supplies; let i = index">
                <td>{{ data.supplies[i].name }}</td>
                <td>
                  <input
                    name="supquantity{{i}}"
                    required
                    [(ngModel)]="data.supplies[i].quantity"
                    type="number"
                    placeholder="Cantidad"
                    class="form-control"
                  />
                </td>
                <td>
                  <textarea
                    name="supreason{{i}}"
                    required
                    [(ngModel)]="data.supplies[i].reason"
                    type="number"
                    placeholder="Razón"
                    class="form-control"
                  ></textarea>
                </td>
              </tr>
            </tbody>
          </table>
        </nb-tab>
        <nb-tab tabTitle="Recetas">
          <table>
            <thead>
              <tr>
                <th>Receta</th>
                <th>Cantidad</th>
                <th>Razón</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let supply of data.recipes; let i = index">
                <td>{{ data.recipes[i].name }}</td>
                <td>
                  <input
                    name="quantity{{i}}"
                    required
                    [(ngModel)]="data.recipes[i].quantity"
                    type="number"
                    placeholder="Cantidad"
                    class="form-control"
                  />
                </td>
                <td>
                  <textarea
                    name="reason{{i}}"
                    required
                    [(ngModel)]="data.recipes[i].reason"
                    type="number"
                    placeholder="Razón"
                    class="form-control"
                  ></textarea>
                </td>
              </tr>
            </tbody>
          </table>
        </nb-tab>
      </nb-tabset>
    </nb-card-body>
    <nb-card-footer>
      <button type="submit" class="btn btn-primary">Guardar</button>
      <button class="btn btn-secondary" (click)="cancel()">Cancelar</button>
    </nb-card-footer>
  </nb-card>
</form>
