<nb-card>
  <nb-card-header>
    Reporte de Tesoreria
  </nb-card-header>

  <nb-card-body>
    <div class="form-group row">

      <div class="form-group col-md-4 col-sm-12">
        <label for="dateFrom">Desde</label>
        <div class="input-group">
          <input 
            ngx-mydatepicker 
            id="dateFrom" 
            class="form-control" 
            style="float:none" 
            placeholder="Select a to date" 
            name="dateFrom" 
            [(ngModel)]="dateFrom" 
            [options]="options" 
            #from="ngx-mydatepicker" 
            (dateChanged)="onChangeDateFrom($event)" 
            required />
          
          <span class="input-group-btn">
            <button type="button" class="btn btn-primary btn-icon" (click)="from.toggleCalendar()">
                <i class="fa fa-calendar"></i>
            </button>
          </span>
        </div>
      </div>

      <div class="form-group col-md-4 col-sm-12">
        <label for="dateTo">Hasta</label>
        <div class="input-group">
          <input 
            ngx-mydatepicker 
            id="dateTo" 
            class="form-control" 
            style="float:none" 
            placeholder="Select a to date" 
            name="dateTo" 
            [(ngModel)]="dateTo" 
            [options]="options" 
            #to="ngx-mydatepicker" 
            (dateChanged)="onChangeDateTo($event)" 
            required />

          <span class="input-group-btn">
              <button type="button" class="btn btn-primary btn-icon" (click)="to.toggleCalendar()">
                  <i class="fa fa-calendar"></i>
              </button>
          </span>
        </div>
      </div>

    </div>

    <div class="form-group row">

      <div class="col-md-4 col-sm-12">
        <div class="form-group">
          <label class="">Locales</label>
          <select id="storesInput" name="storesInput" class="form-control" [(ngModel)]="storeSelected" (change)="onChangeData()">
            <option [ngValue]="''">TODOS</option>
            <option 
                *ngFor="let userStore of userStores" 
                [ngValue]="userStore.id">
                {{ userStore.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="form-group">
          <label class="">Tipo de movimiento</label>
          <select 
            class="form-control" 
            id="inputGroupSelect01" 
            [(ngModel)]="transferType" 
            (change)="onChangeData()">
              <option value="" selected>TODOS</option>
              <option value="E">EGRESOS</option>
              <option value="I">INGRESOS</option>
          </select>
        </div>
      </div>

    </div>


      <ng2-smart-table
        [settings]="settings"
        [source]="source"
        (create)="onCreate($event)"
        (delete)="onDelete($event)"
        (edit)="onEdit($event)">
      </ng2-smart-table>

      <hr>

      <table class="table table-bordered" *ngIf="source.length > 0">
        <tr>
          <td class=""><strong>CAJA REAL:</strong></td>
          <td class="bg-info">{{ result.totalReal | currency:'CLP':'symbol' }}</td>
        </tr>
        <tr>
          <td class=""><strong>CAJA PROYECTADA:</strong></td>
          <td class="bg-info">{{ result.totalProjected | currency:'CLP':'symbol' }}</td>
        </tr>
        <tr>
          <td class=""><strong>PASIVO CIRCULANTE:</strong></td>
          <td class="bg-info">{{ result.totalInactiveOutcome | currency:'CLP':'symbol' }}</td>
        </tr>
      </table>

  </nb-card-body>
</nb-card>
