<nb-card>
  <nb-card-header>
    <span>Detalle Proveedor</span>
    <div>
      <i
        (click)="getReportExcel()"
        class="fa fa-file-excel-o fa-2x excel-report"
      ></i>
      <i (click)="getReportPDF()" class="fa fa-file-pdf-o fa-2x pdf-report"></i>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="form-group row">
      <div class="col-md-3 col-sm-12">
        <div class="form-group">
          <label class="">Proveedor</label>
          <select
            name="suppliers"
            class="form-control"
            [(ngModel)]="supplierSelected"
            (change)="onUpdate()"
          >
            <option *ngFor="let supplier of suppliers" [value]="supplier.id">{{
              supplier.name
            }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="form-group">
          <label class="">Mes</label>
          <select
            class="form-control"
            [(ngModel)]="monthSelected"
            (change)="onUpdate()"
          >
            <option value="">Todos</option>
            <option value="1">Enero</option>
            <option value="2">Febrero</option>
            <option value="3">Marzo</option>
            <option value="4">Abril</option>
            <option value="5">Mayo</option>
            <option value="6">Junio</option>
            <option value="7">Julio</option>
            <option value="8">Agosto</option>
            <option value="9">Septiembre</option>
            <option value="10">Octubre</option>
            <option value="11">Noviembre</option>
            <option value="12">Diciembre</option>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="form-group">
          <label class="">Año</label>
          <select
            class="form-control"
            [(ngModel)]="yearSelected"
            (change)="onUpdate()"
          >
            <option *ngFor="let year of years" [value]="year.value">{{
              year.label
            }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="form-group">
          <label class="">Estado</label>
          <select
            class="form-control"
            [(ngModel)]="isPaidSelected"
            (change)="onUpdate()"
          >
            <option value="">TODAS</option>
            <option value="1">PAGADAS</option>
            <option value="0">PENDIENTES</option>
          </select>
        </div>
      </div>
    </div>
    <ng2-smart-table [settings]="settings" [source]="source"> </ng2-smart-table>
  </nb-card-body>
  <nb-card-footer>
    <button
      type="button"
      class="btn btn-secondary btn-cancel pull-right"
      (click)="cancel()"
    >
      Volver
    </button>
  </nb-card-footer>
</nb-card>
