<div class="widgets">
  <div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>Auditoria</nb-card-header>
        <nb-card-body>
          <div class="row justify-content-end" *ngIf="downloadPath">
            <a [href]="downloadPath" class="btn btn-outline-primary btn-icon" target="_blank">
              <div><i class="ion-archive"></i></div>
            </a>
          </div>
          <div class="row">
            <div class="col">
              <label>Tipo de auditoria</label>
              <div>
                {{audit.audit_type}}
              </div>
            </div>
            <div class="col">
              <label>Fecha</label>
              <div>
                {{audit.created_at}}
              </div>
            </div>
            <div class="col">
              <label>Turno</label>
              <div>
                {{audit.shift}}
              </div>
            </div>
            <div class="col">
              <label>Tienda</label>
              <div>
                {{audit.store}}
              </div>
            </div>
            <div class="col">
              <label>Jefe de turno</label>
              <div>
                {{audit.manager}}
              </div>
            </div>
          </div>
          <div class="row" *ngIf="audit && audit.auditType">
            <div class="col-lg-12">
              <div></div>
              <table class="table table-bordered" *ngFor="let section of audit.auditType.sections">
                <thead>
                <tr>
                  <th colspan="5">{{section.name}}</th>
                </tr>
                <tr>
                  <th>REVISION</th>
                  <th>PUNTAJE</th>
                  <th>CALIFICACION</th>
                  <th>OBSERVACION</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let revision of section.revisions">
                    <td>{{revision.name}}</td>
                    <td>
                      {{revision.score}}
                    </td>
                    <td>
                      <span *ngIf="revision.score == 1">
                        No cumple
                      </span>
                      <span *ngIf="revision.score == 2">
                        Cumple
                      </span>
                      <span *ngIf="revision.score == 3">
                        No Aplica
                      </span>
                    </td>
                    <td>{{revision.comment}}</td>
                  </tr>
                </tbody>
                <!--<tfoot>-->
                  <!--<tr>-->
                    <!--<td>-->
                      <!--SUB-NOTA-->
                    <!--</td>-->
                    <!--<td colspan="3">-->
                      <!--{{section.percentageScore | percent}}-->
                    <!--</td>-->
                  <!--</tr>-->
                <!--</tfoot>-->
              </table>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
