<form (submit)="onSubmit()">
  <nb-card>
    <nb-card-header> {{id ? 'Editar' : 'Nuevo'}} proceso</nb-card-header>
    <nb-card-body>
      <div class="row align-items-baseline">
        <div class="form-group col-sm-4 row align-items-center">
          <label class="col-sm-2">Insumo</label>
          <div class="col-sm-9">
            <select
              name="type"
              class="form-control"
              [(ngModel)]="data.supply_id"
              (ngModelChange)="onChangeSupply()"
              required
            >
              <option *ngIf="!data.supply_id" [value]="''">
                Seleccione insumo
              </option>
              <option *ngFor="let s of suppliesProcessable" [value]="s.id">
                {{ s.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group col-sm-4 row align-items-center">
          <label class="col-sm-2">Cantidad</label>
          <div class="col-sm-9">
            <input
              name="quantity"
              required
              [(ngModel)]="data.final_quantity"
              type="number"
              placeholder="Cantidad"
              class="form-control"
            />
          </div>
        </div>
        <div class="form-group col-sm-4 row align-items-center">
          <label class="col-sm-2">Merma</label>
          <div class="col-sm-9">
            <input
              name="wastage"
              required
              [(ngModel)]="data.wastage"
              type="number"
              placeholder="Merma"
              class="form-control"
            />
          </div>
        </div>
        <div class="col-sm-6 row align-items-center">
          <div class="col-md-2 col-sm-3"><label class="">Fecha</label></div>
          <div class="col-md-10 col-sm-9 input-group">
            <input
              ngx-mydatepicker
              class="form-control"
              style="float:none"
              placeholder="Select a date"
              name="mydate"
              [(ngModel)]="date"
              [options]="options"
              #dp="ngx-mydatepicker"
              required
            />
            <span class="input-group-append">
              <button
                type="button"
                class="btn btn-primary"
                (click)="dp.clearDate()"
              >
                <i class="fa fa-times"></i>
              </button>
              <button
                type="button"
                class="btn btn-primary"
                (click)="dp.toggleCalendar()"
              >
                <i class="fa fa-calendar"></i>
              </button>
            </span>
          </div>
        </div>
        <div class="form-group col-sm-6 row align-items-center">
          <label class="col-md-2 col-sm-3">Tienda</label>
          <div class="col-md-10 col-sm-9">
            <select
              name="store"
              class="form-control"
              [(ngModel)]="storeId"
              required
            >
              <option *ngIf="!storeId" [value]="''"
                >Seleccione Tienda...</option
              >
              <option *ngFor="let s of stores" [value]="s.id">
                {{ s.name }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-body>
      <table>
        <thead>
          <tr>
            <th>Insumo</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let supply of data.supplies; let i = index">
            <td>{{ data.supplies[i].name }}</td>
            <td>
              <input
                name="supquantity{{i}}"
                required
                [(ngModel)]="data.supplies[i].quantity"
                type="number"
                placeholder="Cantidad"
                class="form-control"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </nb-card-body>
    <nb-card-footer>
      <button type="submit" class="btn btn-primary">Guardar</button>
      <button class="btn btn-secondary" (click)="cancel()">Cancelar</button>
    </nb-card-footer>
  </nb-card>
</form>
