<div class="widgets">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3" style="margin-bottom: 2rem">
      <label for="typeOfAudits">Tipo de auditoria</label>
      <select id="typeOfAudits" class="form-control" [(ngModel)]="auditTypeId" (ngModelChange)="onChange($event)">
        <option [value]="">Tipo</option>
        <option *ngFor="let type of auditTypes" [value]="type.id">{{type.name}}</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <label for="typeOfAudits">Año</label>
      <select id="year" class="form-control" [(ngModel)]="year" (ngModelChange)="onChange($event)">
        <option *ngFor="let y of years" [value]="y">{{y}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 col-md-8, col-sm-12">
      <nb-card style="flex:1; min-height: 50vh" cardclass="with-scroll table-panel" title="Resumen Auditoria">
        <nb-card-body>
          <chart type="line" [data]="data" [options]="options"></chart>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-lg-3 col-md-4, col-sm-12">
      <div>
        <label><strong>Promedio</strong></label>
        <h4>
          {{graphData.average | percent}}
        </h4>
      </div>
      <div style="margin-top: 2rem">
        <table class="table" style="color: black;">
          <thead>
            <tr>
              <th rowspan="2" scope="col" colspan="2"><h5><strong>Porcentaje de cumplimiento</strong></h5></th>
            </tr>
          </thead>
          <tbody>
            <tr style="background-color: rgba(173, 255, 47, 0.7);">
              <td scope="col">Cumple</td>
              <td scope="col">90% -- 100%</td>
            </tr>
            <tr style="background-color: rgba(255, 255, 0, 0.7);">
              <td scope="col">En Alerta</td>
              <td scope="col">75% -- 89%</td>
            </tr>
            <tr style="background-color: rgba(255, 0, 0, 0.7);">
              <td scope="col">Critico</td>
              <td scope="col">0% -- 74%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
