<div class="widgets">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3" style="margin-bottom: 2rem">
      <label for="typeOfAudits">Tipo de auditoria</label>
      <select id="typeOfAudits" class="form-control" [(ngModel)]="auditTypeId"
              (ngModelChange)="onChange($event)">
        <option [value]="null">Tipo</option>
        <option *ngFor="let type of auditTypes" [value]="type.id">{{type.name}}</option>
      </select>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <label for="typeOfAudits">Año</label>
      <select id="year" class="form-control" [(ngModel)]="year"
              (ngModelChange)="onChange($event)">
        <option *ngFor="let y of years" [value]="y">{{y}}</option>
      </select>
    </div>
  </div>
  <div class="row">
      <nb-card style="flex:1; min-height: 400px" cardclass="with-scroll table-panel" title="Resumen Auditoria">
        <nb-card-body>
          <chart type="line" [data]="data" [options]="options"></chart>
        </nb-card-body>
      </nb-card>
  </div>
</div>
