<nb-card>
  <nb-card-header>
    Listado de Proveedores
  </nb-card-header>

  <nb-card-body>
    <table>
      <thead>
      <tr>
        <th>
          Nombre
        </th>
        <th>
          Dirección
        </th>
        <th>
          Telefono
        </th>
        <th>
          Rut
        </th>
        <th>
          Estado
        </th>
        <th>
          <div class="btn-group" style="display: flex; justify-content: center;">
            <button class="btn btn-outline-primary btn-icon" (click)="onClickPlus(event)"><i class="nb-plus-circled"></i></button>
          </div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Astoria CCP</td>
        <td>Rengo 524</td>
        <td></td>
        <td>761453580</td>
        <td>Activo</td>
        <td>
          <div class="btn-group">
            <button class="btn btn-outline-primary btn-icon" (click)="onClickPlus(event)"><i class="nb-edit"></i></button>
          </div>
        </td>
      </tr>
      <tr>
        <td>Astoria CCP</td>
        <td>Rengo 524</td>
        <td></td>
        <td>761453580</td>
        <td>Activo</td>
        <td>
          <div class="btn-group">
            <button class="btn btn-outline-primary btn-icon" (click)="onClickPlus(event)"><i class="nb-edit"></i></button>
          </div>
        </td>
      </tr>
      <tr>
        <td>Astoria CCP</td>
        <td>Rengo 524</td>
        <td></td>
        <td>761453580</td>
        <td>Activo</td>
        <td>
          <div class="btn-group">
            <button class="btn btn-outline-primary btn-icon" (click)="onClickPlus(event)"><i class="nb-edit"></i></button>
          </div>
        </td>
      </tr>
      <tr>
        <td>Astoria CCP</td>
        <td>Rengo 524</td>
        <td></td>
        <td>761453580</td>
        <td>Activo</td>
        <td>
          <div class="btn-group">
            <button class="btn btn-outline-primary btn-icon" (click)="onClickPlus(event)"><i class="nb-edit"></i></button>
          </div>
        </td>
      </tr>
      <tr>
        <td>Astoria CCP</td>
        <td>Rengo 524</td>
        <td></td>
        <td>761453580</td>
        <td>Activo</td>
        <td>
          <div class="btn-group">
            <button class="btn btn-outline-primary btn-icon" (click)="onClickPlus(event)"><i class="nb-edit"></i></button>
          </div>
        </td>
      </tr>
      <tr>
        <td>Astoria CCP</td>
        <td>Rengo 524</td>
        <td></td>
        <td>761453580</td>
        <td>Activo</td>
        <td>
          <div class="btn-group">
            <button class="btn btn-outline-primary btn-icon" (click)="onClickPlus(event)"><i class="nb-edit"></i></button>
          </div>
        </td>
      </tr>
      <tr>
        <td>Astoria CCP</td>
        <td>Rengo 524</td>
        <td></td>
        <td>761453580</td>
        <td>Activo</td>
        <td>
          <div class="btn-group">
            <button class="btn btn-outline-primary btn-icon" (click)="onClickPlus(event)"><i class="nb-edit"></i></button>
          </div>
        </td>
      </tr>
      <tr>
        <td>Astoria CCP</td>
        <td>Rengo 524</td>
        <td></td>
        <td>761453580</td>
        <td>Activo</td>
        <td>
          <div class="btn-group">
            <button class="btn btn-outline-primary btn-icon" (click)="onClickPlus(event)"><i class="nb-edit"></i></button>
          </div>
        </td>
      </tr>

      </tbody>

    </table>
  </nb-card-body>
</nb-card>



